body{
    background-color: blue;
}
#h1{
    margin-left: 40%;
    color:whitesmoke;
}
#row{
    margin-left: 35%;
    font-family: 'Times New Roman', Times, serif;
    color:whitesmoke;
}
#raw{
    margin-left: 35%;
    font-family: sans-serif;
    color: aqua;
}
#ro{
    color:green;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left:35%;
}
.top{
    margin-top: -20%;
    margin-left: 5%;
    color: whitesmoke;
}
#v{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:aqua;
}